@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500,600,700,800,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}
body{
	height: 100vh !important;
}
html{
	font-size: 62.5%;
}
.container{
	width: 100%;
	height: 100%;
	background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calendar{
	width: 45rem;
	height: 52rem;
	background: rgba(0,0,0,0.5);
}
.month{
	width: 100%;
	height: 12rem;
	background: rgba(235, 77, 75,1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 2rem;
	text-align: center;
}
.month i{
	font-size: 2.5rem;
	cursor: pointer;
}
.month h1{
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
}
.month p{
	font-size: 1.6rem;
}
.weekdays{
	width: 100%;
	height: 5rem;
	padding: 0 0.4rem;
	display: flex;
	align-items: center;
}
.weekdays div{
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	width: calc(44.2rem / 7);
	display: flex;
	align-items: center;
	justify-content: center;
}
.days{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0.2rem;
}
.days div{
	font-size: 1.4rem;
	margin: 0.3rem;
	width: calc(40.2rem / 7);
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: .5s;
	border: 1px solid transparent;
}
.next-date,
.prev-date{
	opacity: 0.4;
}
.today{
	background: rgba(235, 77, 75,1);
}
.days div:hover:not(.today){
	border: 1px solid #fff;
}